# Ref: https://specifications.freedesktop.org/basedir-spec/latest/
#   $XDG_DATA_HOME defines the base directory relative to which user-specific data files should be stored.
#   If $XDG_DATA_HOME is either not set or empty, a default equal to $HOME/.local/share should be used.

azure-functions-core-tools/.telemetry/

delta/lesshst

gem/specs/

gh/extensions/

karabiner/log/
karabiner/pid/

recently-used.xbel
