dotfiles:
  title: "Dotfiles"
  paths: [
    "/Users/devalias/.dotfiles"
  ]
atom:
  title: "Atom"
  paths: [
    "/Users/devalias/.dotfiles/atom.symlink"
  ]
rlaunchpad:
  title: "rlaunchpad"
  paths: [
    "/Users/devalias/dev/rlaunchpad"
    "/Users/devalias/.dotfiles/osx"
  ]
'CryptoPals':
  title: "CryptoPals-Swift3"
  paths: [
    "/Users/devalias/dev/cryptopals-swift3/"
  ]
