dotfiles:
  title: "Dotfiles"
  paths: [
    "/Users/devalias/.dotfiles"
  ]
atom:
  title: "Atom"
  paths: [
    "/Users/devalias/.dotfiles/atom.symlink"
  ]
'devalias.net':
  title: "devalias.net"
  paths: [
    "/Users/devalias/dev/devalias.net/"
  ]
