# Ref: https://specifications.freedesktop.org/basedir-spec/latest/
#   $XDG_CONFIG_HOME defines the base directory relative to which user-specific configuration files should be stored.
#   If $XDG_CONFIG_HOME is either not set or empty, a default equal to $HOME/.config should be used.

configstore/

gcloud/

gh/hosts.yml

github-copilot/apps.json
github-copilot/hosts.json
github-copilot/*/chat-sessions/

github-repos/

gtk-2.0/

iterm2/

jgit/

karabiner/automatic_backups/

MusicBrainz/

OpenRGB/OpenRGB.json
OpenRGB/logs/*.log

pudb/

# TODO: can we figure a way to track rclone config without risking exposing credentials?
rclone/rclone.conf

simple-update-notifier/

tape/Definitions/
